@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script id="movieTemplate" type="text/x-jsrender">
	<div class="movie-item">
        <img width='61' height='91' src='{{>posters.thumbnail}}' />
		<span>{{:#index+1}}: <b>{{>title}}</b></span> {{>release_dates.dvd}}
	</div>
</script>


@section scripts
{
   <script type="text/javascript" src="@Url.Content("~/content/jsrender.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/home.js")"></script>
 
}

<h2>Overview of upcomming release</h2>

<div class="container">
<div id="movieList">
    

</div>

<div class="container-right">
    

</div>

</div>
